---
import BaseHead from "../components/BaseHead.astro";
import HeaderLink from "../components/HeaderLink.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const latest = posts.slice(0, 4);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1 {
        font-size: 35px;
        font-family: "Noto Sans JP", sans-serif;
      }
      .articles-cont {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 4%;
      }
      section a {
        color: #1a202a;
      }
      article {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      article a {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      article div img {
        width: 100%;
      }
      article time {
        font-style: italic;
        color: #595959;
      }
      article h3 {
        margin: 0px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
      }
      @media only screen and (max-width: 780px) {
        h1 {
        font-size: 30px;
      }
        .articles-cont {
          display: grid;
          grid-template-columns: 100%;

        }
        article {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-bottom: 0px;
          width: 100%;
        }
        .image-cube {
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        .image-cube img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
        .article-data {
          width: 260px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    </style>
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <section>
        <h1>Operation Dev: First, solve the problem. Then, write the post.</h1>
        <p>
          Hi there, I'm Luciano Canziani 👋! In here you'll find my journey as a
          developer. From informative, tutorials to a bit of personal
          experience.
        </p>
      </section>
      <section>
        <h2>My latest articles</h2>
        <div class="articles-cont">
          {
            latest.map((post) => (
              <article>
                <a href={post.url} />
                <div class="image-cube">
                  <img src={post.frontmatter.heroImage} class="blogImage" />
                </div>
                <div class="article-data">
                  <h3>{post.frontmatter.title}</h3>
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                </div>
              </article>
            ))
          }
        </div>
        <HeaderLink href="/blog">See all articles</HeaderLink>
      </section>
    </main>
    <Footer />
  </body>
</html>
