---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  tags?: string;
  author?: string;
  imagealt?: string;
}

const {
  title,
  description,
  image,
  author,
  tags,
  imagealt
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const defineImage = image ?? '/placeholder-social.jpg';
const postImage = `https://www.operationdev.com${defineImage}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/Arimo.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={tags} />
<meta name="author" content={author} />
<meta name="robots" content="index, follow" />
<link rel="alternate" type="application/rss+xml" href="https://www.operationdev.com/sitemap-index.xml">
<meta property="og:site_name" content="Operation Dev" />
<!-- Open Graph / Facebook -->

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL.href} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={postImage} />
<meta property="og:image:alt" content={imagealt} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="operationdev.com" />
<meta property="twitter:url" content={canonicalURL.href} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={postImage} />
<meta name="twitter:image:alt" content={imagealt} />