---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    author?: string;
    updatedDate?: string;
    heroImage?: string;
    tags?: string;
    imgAlt?: string;
  };
}

const {
  content: {
    title,
    description,
    tags,
    pubDate,
    author,
    updatedDate,
    heroImage,
    imgAlt,
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      tags={tags}
      author={author}
      image={heroImage}
      imagealt={imgAlt}
    />
    <style>
      .title {
        font-size: 29px;
        font-family: "Noto Sans JP", sans-serif;
        margin: 0.25em 0 0;
      }
      .author-date {
        display: flex;
        align-items: center;
      }
      .author-date p {
        margin: 0px;
        margin-right: 5px;
      }
      main {
        margin-top: 15px;
      }
      p {
        font-family: "Open Sans", sans-serif;
      }

      hr {
        border-top: 1px solid #1a202a89;
        margin: 1rem 0;
      }

      article {
        padding: 0px 15px;
        max-width: 74ch;
        margin: auto;
      }
      ul.a {
        list-style-type: circle black;
      }
      .table-content-item {
        color: #1a202a;
        font-size: 18px;
        font-weight: 550;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <img width="100%" height="auto" src={heroImage} alt="imgAlt" />
          )
        }
        <h1 class="title">{title}</h1>
        <div class="author-date">
          {author && <p>{author}</p>}
          {pubDate && <time> | {pubDate}</time>}
        </div>
        {
          /* 
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        */
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
